body {
  padding-top: 56px; /* Aggiungi spazio per la top bar fissa */
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #222;
}

.section-intro {
  position: relative;
  z-index: 0;
}

.section-intro h1 {
  text-align: center;
  color: #ffffff;
  font-size: 6em; /* Aumenta la dimensione del titolo */
  font-weight: 900; /* Aumenta il peso del titolo */
  margin-bottom: 30px; /* Aggiungi spazio sotto il titolo */
}

/* Aggiunto uno stile per la top bar */
.nav-flex-row {
  background-color: #222;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s;
  z-index: 1000;
}

.nav-flex-row li a {
  color: #ffffff !important;
}

/* Aggiunto stile per rendere il pulsante "Prenota un tavolo" più visibile */
.link-to-book {
  background-color: #ffcc29;
  color: #222;
  border: 2px solid #ffcc29;
  transition: background-color 0.3s;
}

.link-to-book:hover {
  background-color: #222;
  color: #ffcc29;
}

.map-section {
  text-align: center;
  margin-top: 30px;
}

.map-container {
  position: relative;
  width: 80%;
  margin: auto;
  padding-bottom: 60%;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

.opening-time,
.contact-adress {
  flex: 1;
  margin: 30px 20px;
  font-size: 1.2em;
}

.form-group p {
  font-size: 1.2em;
}

.opening-time p span,
.contact-address p span {
  display: block;
}

@media (min-width: 577px) and (max-width: 800px) {
  .section-intro {
    height: 500px;
  }

  .about-section p,
  .about-section h3 {
    font-size: 20px;
  }

  .carousel-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carousel-item img {
    max-height: 100%;
    width: auto;
    margin: 0 auto;
  }

  .row-flex {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .section-intro {
    height: 300px;
  }

  .about-section {
    padding: 30px;
  }

  .section-intro h1 {
    font-size: 2em;
  }

  .about-section p,
  .about-section h3 {
    font-size: 15px;
  }

  .carousel-inner {
    height: auto;
  }

  .row-flex {
    display: flex;
    flex-direction: column;
  }

  .row-flex h3 {
    font-size: 25px;
    text-align: center;
  }

  .form-group p {
    font-size: 15px;
  }

  .opening-time,
  .contact-address {
    flex: 1;
    margin: 30px auto; /* Center the content horizontally */
    text-align: center;
    font-size: 1.2em;
  }
}

.carousel-inner {
  height: auto;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
